body {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  margin: 0;
  position: relative;
  width: 100%;
  background: #ffffff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4e4e4e;
}

a:hover,
a:active {
  text-decoration: underline;
  color: #7c7474;
}

.none {
  display: none;
}

.is-active {
  display: block;
}

/* Главная страница */

.skindom__title {
  font-size: 90px;
  text-transform: uppercase;
  position: absolute;
  left: 120px;
  top: 130px;
}

.skindom__text {
  font-size: 24px;
  position: absolute;
  left: 120px;
  top: 295px;
}

.skindom__btn {
  position: absolute;
  left: 120px;
  top: 380px;
  font-size: 18px;
  letter-spacing: 0.15em;
  height: 58px;
  width: 268px;
  background-color: black;
  color: #ffffff;
  cursor: pointer;
}

.skindom__btn a,
.dostavka__variant-btn a,
.skindom__btn-login a,
.skindom__btn-guest a {
  text-decoration: none;
  color: #ffffff;
}

.whoWe {
  height: 480px;
  margin-left: 121px;
  margin-top: 68px;
}

.whoWe__container {
  display: flex;
}

.whoWe__container-text {
  margin-left: 72px;
  width: 669px;
}

.whoWe__container-title {
  font-size: 32px;
}

.whoWe__container-about {
  font-size: 16px;
}

.whoWe__container-link {
  font-size: 16px;
  line-height: 150%;
  color: #cc4c6e;
}

.whoWe__list {
  display: flex;
  gap: 26px;
  text-align: center;
  margin-left: -40px;
  margin-top: 36px;
}

.whoWe__list-item {
  font-size: 18px;
  color: #464646;
  border: 1px solid rgba(0, 0, 0, 0.2);
  min-width: 305px;
  height: 50px;
  padding-top: 30px;
}

.whoWe__list-item:hover {
  box-shadow: 1px 1px 7px 1px #c8c2c2;
}

.newProduct,
.actionProduct,
.recommend,
.catalog,
.product {
  margin-left: 121px;
}

.new__slider,
.recommend__slider,
.action {
  display: flex;
  gap: 44px;
  flex-wrap: wrap;
}

.new__title,
.action__title,
.recommend__title {
  font-size: 28px;
  line-height: 130%;
}

.new__slider-card,
.recommend__slider-card {
  text-align: center;
}

.new__slider-card:hover,
.recommend__slider-card:hover,
.catalog__item:hover {
  box-shadow: 1px 1px 7px 1px #c8c2c2;
  cursor: pointer;
}

.btn-next:hover,
.btn-prev:hover {
  cursor: pointer;
}

.btn-next,
.btn-prev {
  margin-bottom: 25px;
}

.card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  color: #1a1a1a;
}

.card-text {
  font-size: 14px;
  line-height: 18px;
  color: #5c5c66;
}

.newPrice {
  color: #1a1a1a;
  font-size: 16px;
}

.oldPrice {
  text-decoration: line-through;
  font-size: 12px;
}

.action {
  height: 420px;
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow: 1px 1px 7px 1px #c8c2c2;
  border-radius: 10px;
}

.action::-webkit-scrollbar {
  width: 22px;
}
.action::-webkit-scrollbar-track {
  background: #f3f3f3;
}
.action::-webkit-scrollbar-thumb {
  background-color: #f0ddddbc;
  border-radius: 10px;
}

.action__slider-card {
  width: 800px;
  height: 420px;
  text-align: center;
}

.action__slider-card:hover {
  cursor: pointer;
}

.action__card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.0375em;
  text-transform: uppercase;
  margin: 0;
}

.action__card-text {
  font-size: 18px;
  line-height: 130%;
  color: #969696;
  margin: 0;
}

.rassilka {
  margin-left: 201px;
  margin-top: 143px;
  display: flex;
  gap: 56px;
}

.rassilka img {
  z-index: 1;
}

.rassilka__container {
  width: 800px;
  height: 400px;
  margin-left: -300px;
  margin-top: -50px;
  background: #f3f3f3;
  padding-left: 100px;
  box-sizing: border-box;
  padding-left: 300px;
  padding-top: 55px;
}

.rassilka__container-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
}

.rassilka__container-text {
  font-size: 20px;
  line-height: 130%;
  color: #5a5a5a;
}

.rassilka__container-btn,
.cart__about-btn,
.skindom__btn-login,
.skindom__btn-guest {
  width: 330px;
  height: 40px;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.1em;
}

.rassilka__container-btn:hover,
.cart__about-btn:hover,
.skindom__btn-login,
.skindom__btn-guest {
  cursor: pointer;
}

.rassilka__container-input {
  width: 325px;
  height: 40px;
  border: 0;
  border-bottom: #c4c4c4 1px solid;
  background-color: #f3f3f3;
  margin-bottom: 20px;
}

/* Club */

.club {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: 121px;
  margin-top: 50px;
}

.club__container-title,
.blog__title,
.catalog__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 200%;
  margin: 0;
  text-align: center;
  letter-spacing: 0.3em;
}

.club__title {
  font-size: 70px;
  text-transform: uppercase;
  position: absolute;
  left: 120px;
  top: 548px;
  left: 118px;
  opacity: 0.7;
}

.club__btn {
  top: 670px;
  opacity: 0.6;
}

.club__btn:hover {
  opacity: 0.9;
  text-decoration: none;
  color: #ffffff;
}

.club h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 0;
  text-align: center;
}

.club__container-need {
  display: flex;
  text-align: center;
}

/* Contacts */
.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 121px auto 121px;
}

.contacts__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 200%;
  letter-spacing: 0.3em;
  margin: 0;
}

.contacts__container {
  height: 550px;
  overflow-y: scroll;
}

.contacts__item {
  background: #f3f3f3;
  width: 410px;
  height: 130px;
  padding-left: 10px;
}

.contacts__item-status {
  padding-top: 10px;
  font-size: 16px;
  line-height: 200%;
  color: #828282;
}

.contacts__item-adress {
  font-weight: bold;
  margin-bottom: 3px;
}

.contacts__item-cont {
  color: #d785a1;
  padding-bottom: 10px;
}

/* Доставка и оплата */
.dostavka-title {
  margin-left: 121px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 40px;
  line-height: 200%;
  letter-spacing: 0.3em;
}

.dostavka {
  margin-left: 121px;
  margin-right: 121px;
  width: 1300px;
  height: 161px;
  display: flex;
  gap: 20px;
  flex: 400px 400px 400px;
  flex-wrap: wrap;
}

.dostavka__specially {
  padding-left: 20px;
  background: #f3f3f3;
  width: 400px;
  height: 150px;
}

.dostavka__specially-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
}

.dostavka__specially-text {
  font-size: 16px;
  line-height: 150%;
  color: #464646;
}

.dostavka__variant {
  margin: 50px 121px;
  display: flex;
  gap: 40px;
}

.dostavka__variant-title,
.dostavka__pravila-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  margin: 0;
  letter-spacing: 0.1em;
  border-bottom: #cacaca 1px solid;
}

.dostavka__variant-text {
  font-size: 22px;
  line-height: 150%;
  margin-top: 10px;
  margin-bottom: 0;
}

.dostavka__variant-prim {
  color: #565656;
  margin: 0;
}

.dostavka__variant h4 {
  margin-bottom: 0;
}

.dostavka__variant-quanity {
  color: #d785a1;
  margin-top: 0;
}

.dostavka__variant-block {
  display: flex;
  gap: 20px;
  align-items: center;
  background: #f3f3f3;
  height: 80px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 150%;
  color: #828282;
}

.dostavka__variant-btn {
  margin-top: 20px;
  font-size: 18px;
  letter-spacing: 0.15em;
  height: 40px;
  width: 280px;
  background-color: black;
  color: #ffffff;
  cursor: pointer;
}

.dostavka__pravila {
  margin-left: 121px;
}

.dostavka__pravila-title {
  border: 0;
}

.pravila__containerDostavka li {
  list-style: decimal;
}

.pravila__list {
  display: flex;
  gap: 20px;
  padding: 0;
}

.pravila__list-item {
  box-sizing: border-box;
  font-size: 18px;
  letter-spacing: 0.15em;
  height: 40px;
  width: 280px;
  background-color: #f3f3f3;
  color: black;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  transition: all 0.8s ease;
}

.pravila__list-active {
  background-color: black;
  color: #ffffff;
}

.pravila__containerDostavka-prim {
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.5);
}

.pravila__containerDostavka ol {
  padding: 16px;
  margin-right: 80px;
}

.pravila__containerDostavka-item {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: #cacaca 1px solid;
}

.pravila__containerPravila {
  margin-right: 121px;
}

.pravila__container {
  transition: all 1s ease;
}

/* Blog */
.blog,
.catalog {
  margin: 50px 121px;
}

.blog__container {
  min-width: 320px;
  max-width: 1250px;
  display: flex;
  column-gap: 50px;
  row-gap: 30px;
  flex: 320px 320px 320px;
  flex-wrap: wrap;
  justify-content: center;
}

.container__card {
  width: 320px;
  padding: 15px;
}

.container__card a,
.catalog__item a {
  text-decoration: none;
}

.container__card:hover,
.contacts__item:hover {
  box-shadow: 1px 1px 7px 1px #c8c2c2;
}

.container__card-text {
  font-size: 14px;
  line-height: 150%;
  color: #636363;
}

.container__card-data {
  display: inline-block;
  background-color: #000;
  color: white;
  height: 20px;
  width: 40px;
  padding: 5px;
}

/* Catalog + использованы стили из блока New*/
.catalog__container {
  margin-top: 30px;
  display: grid;
  grid-template-areas:
    "simple1 simple2 important1 important1"
    "simple3 simple4 important1 important1"
    "important2 important2 simple5 simple6"
    "important2 important2 simple7 simple8";
}

.catalog__item {
  box-sizing: border-box;
  padding: 10px;
}

.simple1 {
  grid-area: simple1;
}

.simple2 {
  grid-area: simple2;
}

.simple3 {
  grid-area: simple3;
}

.simple4 {
  grid-area: simple4;
}

.simple5 {
  grid-area: simple5;
}

.simple6 {
  grid-area: simple6;
}

.simple7 {
  grid-area: simple7;
}

.simple8 {
  grid-area: simple8;
}

.important1 {
  grid-area: important1;
  align-self: center;
  height: 550px;
  width: 550px;
}

.important2 {
  grid-area: important2;
  align-self: center;
  height: 550px;
  width: 550px;
}

/* Cart product */
.product {
  margin-right: 121px;
  margin-top: 50px;
}

.cart {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  flex: 1fr 2fr;
}

.product__img {
  border: #828282 solid 1px;
  width: 400px;
  text-align: center;
}

.cart__about-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 130%;
  letter-spacing: 0.0375em;
  text-transform: uppercase;
  width: 800px;
}

.cart__about-pink {
  color: #d785a1;
}

.plus-text {
  width: 210px;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  gap: 20px;
  align-items: center;
}

.cart__about-grey,
.productContainer__character-name {
  font-size: 14px;
  line-height: 150%;
  color: #afafaf;
}

.plus {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px;
  gap: 24px;
}

.tab,
.productContainer {
  margin-top: 50px;
  font-size: 16px;
  line-height: 150%;
}

.tab {
  display: flex;
  gap: 20px;
}

.tab:hover {
  cursor: pointer;
}

.productContainer p {
  min-width: 400px;
}

.tab-active {
  font-weight: bold;
  border-bottom: 3px solid #1a1a1a;
}

.productContainer__character {
  display: flex;
  gap: 50px;
  align-items: flex-start;
  font-size: 14px;
  line-height: 150%;
}

.productContainer__character-name {
  width: 100px;
}

/* Modal */
.b-popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.b-popup__window {
  background-color: #ffffff;
  float: left;
  padding: 20px;
  width: 500px;
  height: 100%;
  text-align: center;
}

.b-popup__window-title,
.b-popup__title-login {
  padding-top: 200px;
  font-weight: 700;
  font-size: 32px;
  line-height: 200%;
  margin: 0;
  text-align: center;
  letter-spacing: 0.1em;
}

.skindom__btn-login,
.skindom__btn-guest {
  margin-bottom: 10px;
}

.close {
  color: rgb(8, 0, 0);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.b-popup__title-input {
  width: 325px;
  height: 35px;
  border: 0;
  border-bottom: #c4c4c4 1px solid;
  background-color: #f3f3f3;
}
